<footer class="footer">
  <div class="footer-container">

    <!-- Column 1 -->
    <div class="footer-col">
      <h2 class="footer-logo">Travel Planner</h2>
      <p>Smart route planning using algorithms</p>
    </div>

    <!-- Column 2 -->
    <div class="footer-col">
      <h3>Quick Links</h3>
      <a href="http://localhost:8080/">Home</a>
      <a href="#">Plan Route</a>
      <a href="http://localhost:8080/about">About</a>
      <a href="#">Contact</a>
    </div>

      <!-- Column 3 -->
   <div class="footer-col info-box">
  <h3>Team Members</h3>

  <p>
    Aanchal Bhaskar Shukla (B24ES1025)
    <span class="popup">b24es1025@iitj.ac.in</span>
  </p>

  <p>
    Poorti Agrawal (B24CH1028)
    <span class="popup">b24ch1028@iitj.ac.in</span>
  </p>

  <p>
    Anshima Kushwaha (B24CH1010)
    <span class="popup">b24ch1010@iitj.ac.in</span>
  </p>

  <p>
    Ishita Kulshreshtha (B24ME1035)
    <span class="popup">b24me1035@iitj.ac.in</span>
  </p>

</div>

    <!-- Column 4 -->
    <div class="footer-col">
      <h3>Connect With us</h3>
      <div class="connect">
      <a href="https://www.instagram.com/agrawal_poorti/" target="_blank"><i class="fa-brands fa-instagram" ></i></a>

      <a href="https://github.com/agrawalpoorti" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/poorti-agrawal-674552326?utm_source=share_via&utm_content=profile&utm_medium=member_android" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>

    </div>

  


  </div>

  <div class="footer-bottom">
    © 2026 Travel Planner. All rights reserved.
    <br>
    Made with <span> &hearts;</span>
    
  </div>
</footer>