
<nav class="navbar">
  <!-- Left: Logo + Name -->
  <div class="nav-left">
    <span class="brand-name">Navix</span>
  </div>

  <!-- Center: Links -->
  <ul class="nav-links">
    <li><a href="http://localhost:8080/">Home</a></li>
    <li><a href="">Plan Route</a></li>
    <li><a href="http://localhost:8080/about">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Past History</a></li>
  </ul>

  <!-- Right: Auth -->
  <div class="nav-right">
    <a href="http://localhost:8080/login" class="login">Login</a>
    <a href="#" class="signup-btn">Sign Up</a>
  </div>
</nav>
